{% extends 'base.html' %}

{% load static %}

{% block title %} | About {% endblock %}

{% block content %}
    <div class="pt-3 software-section">
        <div class="container">
            <h1 class="display-4 text-center about-main">
                About Bilcrypt
            </h1>
            <p class="about-description">
                Bilcrypt Bitcoin Mining Software is an advanced bitcoin mining software developed by seasoned software developers and engineers whose sole passion are in the cryptocurrency industry. The software uses advanced Artificial Intelligence, Machine Learning, and Deep Learning algorithms that helps it to connect to the pool and mine bitcoin in bits to the desired amount programmed into the software. Because it uses Machine Learning algorithms, the software has the ability to learn quickly according to the changing conditions and then come up with it's own new techniques of generating and mining bitcoin and this makes it to increase in efficiency all the time. <br>
                Bilcrypt Bitcoin Mining Software has been developed to help reduce the poverty ratio we have in the world so the team tries as much as possible to make it very affordable and less expensive. <br>
                The Bilcrypt mining company has over 1000 mining plants with different capacities which helps us to serve thousand's of customers all around the world in a day. We have customer care agents who are specially trained to attend to our customers to give them all the information they might need and how to use the software to mine bitcoin to the highest efficiency. <br>
                The CEO of Bilcrypt and the entire team is very proud of the solution that have been able to invent to help everyone live their dream and become great in the future. We are looking forward to do more so that the world can become a better place for all of us to live in.
            </p>
        </div>
    </div>
{% endblock %}
