{% extends 'base.html' %}

{% load static %}

{% block title %} | About {% endblock %}

{% block content %}
    <div class="pt-3 software-section">
        <div class="container">
            <h1 class="display-4 text-center about-main">
                Terms and Conditions of Use
            </h1>
            <div class="about-description">
                <em>
                    These are the various terms and conditions that must be strictly adhered to should anyone be interested in using this software to mine bitcoin.
                </em>
                <ol class="terms-list">
                    <li>
                        Bilcrypt bitcoin mining software is strictly used for mining bitcoin. It does not mine other cryptocurrencies.
                    </li>
                    <li>
                        The licence key of Bilcrypt must be renewed every 30 days if you want to keep using the software. Failure to renew it after 30 days for the next 5 days will make it void and hence a new one must be purchased if you still want to use it. The renewal of the licence will give you 50% discount of the original price at which you have purchased it.
                    </li>
                    <li>
                        For the software to work, you must not use proxy. If you use proxy, the licence key will be revoked which means you will need to buy a new licence to use the software.
                    </li>
                    <li>
                        The same licence key cannot be used for another software. Trying to use the same licence key for more than one software will have your IP blacklisted; which means you cannot use the Bilcrypt software on your machine anymore except you change machine and purchase a new licence key.
                    </li>
                    <li>
                        It takes 48 hours for one cycle of the mining to complete. This means that your machine must be powered on through out the 48 hours. One advantage here is that, even if your machine goes off or you have decided to turn it off or reboot the machine for any reason, all the minings that was done will be saved and the software will take it from there whenever the machine is turned back on again. You've got nothing to loose as the software will track every single progress of the mining process and save it.
                    </li>
                    <li>
                        The software cannot be used on more than one machine if you have already key in the licence. If you buy the software and you are facing any difficulties with it while using it on your machine, please contact us to fix it for you because if you try to use it on a different machine, the licence key will be revoked.
                    </li>
                    <li>
                        You can use as many software as you want on the same machine but you must purchase separate licence key for each of them. Do not try to share the same licence key for them.
                    </li>
                    <li>
                        You must enter your correct bitcoin wallet into the software as the process cannot be reversed if you enter a wrong bitcoin wallet which means your mining will be sent to someone's wallet. Be careful and make sure you enter the correct bitcoin wallet.
                    </li>
                    <li>
                        In any case that you are unable to mine the bitcoin or the software could not work for you for whatever reason, we promise you a full pay-back of your money. Your money will be paid immediately when you request for a refund.
                    </li>
                    <li>
                        Always contact the customer care agent or the administrator anytime you face any difficulties with the use of Bilcrypt bitcoin mining software.
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
